[2017-09-06 11:25] klues opened #1 "AsTeRICS-Ergo does not work in IE/Edge"
**Problem:**
Internet Explorer and Microsoft Edge does not support SSE (server-sent events), a technology that is used by AsTeRICS-Ergo in order to communicate with ARE. See this link for current browser support of SSE: http://caniuse.com/eventsource/embed/description

**Solution**
Communication between AsTeRICS-Ergo and ARE could be changed to use WebSockets. The Browser Support of WebSockets is

[2017-09-06 20:18] stefaniehoechtl opened #2 "add auto scroll to the hardware wizard"
**Problem**:
Some participants use the hardware wizard and select the devices which they would like to control, but do not see the recommended hardware.

**Solution**:

- Explain the hardware wizard
- Add auto scroll

**Issue is resolved if**:

- The hardware wizard is explained, e.g. "please select the devices which you would like to control using AsTeRICS Ergo. Afterwards you can see the require

[2017-09-06 20:36] stefaniehoechtl opened #3 "add USB cable to hardware wizard"
**Problem:**
It is not clear that an USB cable is needed to control IR-devices (connection IrTrans - computer)

**Solution:**
Add an USB cable (+ picture) to the hardware wizard

**Issure resolved if:**
The hardware wizard also recommends ordering an USB cable if an IR device is selected.

[2017-09-06 20:41] stefaniehoechtl opened #4 "add other devices to the hardware wizard"
**Problem:**
Users might want to control other devices than the examples given in the hardware wizard. However, the hardware wizard does not take them into account, so it is not clear which hardware they need.

**Solution:**
Add “other device controlled by IR remote” and “other device which is plugged into an outlet” to the hardware wizard

**Issure resolved if:**
Apart from the examples given in

[2017-09-06 20:46] stefaniehoechtl opened #5 "add picture of USB cable in "assistance to IrTrans""
**Problem:**
It is not clear that an USB cable is needed to control IR-devices (connection IrTrans - computer).

**Solution:**
Add a picture of an USB cable (and a plus between the IrTrans and the cable) in “Assistance to IrTrans”.

**Issue resolved if:**
A picture of an USB cable is added in "assistance to IrTrans".

[2017-09-06 20:59] stefaniehoechtl opened #6 "add button "further commands" in wizard for setting up IR devices"
**Problem:**
When setting up the control of an IR device, the wizard proposes various remote commands. However, it is not clear how to add further commands.

**Solution:**
Add the button „further commands“

**Issue resolved if:**
After recommending common commands, the user has the opportunity to add further commands.

[2017-09-07 13:58] klues commented on #1
is resolved by using websockets for communication with ARE, see commits on Sep 7, 2017.

[2017-09-07 13:59] #1 closed, assigned to klues

[2017-09-07 14:33] klues commented on #5
is now implemented like in the help for Fs20: http://prntscr.com/gi9ggf
see PR https://github.com/asterics/AsTeRICS-Ergo/pull/7

[2017-09-07 14:33] #5 closed, assigned to nobody

[2017-09-07 14:41] klues commented on #6
Haben wir uns hier schon überlegt, wie wir das genau machen wollen?
http://prntscr.com/gi9o3v
Bei (1), (2), oder (3) einen Button "weitere Befehle"?
Und dann wie beim schon existierenden Assistenten zum Hinzufügen weiterer Befehle? Zuerst Namen eingeben und dann lernen?

[2017-09-07 20:46] stefaniehoechtl commented on #6
Genau, die User hätten den Button gerne neben Nr. 3. Ich würde sagen links daneben? Und anschließend soll man weitere Befehle hinzufügen können, indem man wie beim bereits existierenden Assistenten ("neuer Befehl") zunächst einen Namen eingibt und dann den Befehl lernt (durch Drücken der entsprechenden Taste auf der Fernbedienung).

[2017-09-11 18:10] stefaniehoechtl opened #8 "Update FAQs"
Update FAQs (based on the results of the evaluation)

[2017-09-11 18:28] stefaniehoechtl opened #9 "shifting buttons to change the order"
**Problem:**
For some users it might be important to be able to determine the order of the buttons (e.g. to have the most commonly used buttons at first, rarely used ones at the end).

**Solution:**
Enable shifting buttons to change the order.
The users would like to:
- use Drag & Drop
- have a button called "enable shift"
- (perhaps right-hand click - "shift" to maintain the consistency?)

**Issu

[2017-09-11 18:40] stefaniehoechtl opened #10 "choose icons"
**Problem**:
It is not possible to choose the icons on the buttons.
Some icons are not intuitive - examples:
- If you add a device, which is plugged into an outlet, e.g. a fan, the icon on the button is always a light bulb.
- Every  added remote command has the same symbol.
Clear symbols are important (e.g. for people who have difficulty with reading).

**Possible solutions:**
- When adding a new

[2017-09-11 18:41] stefaniehoechtl opened #11 "Translate AsTeRICS Ergo into English"
Translate AsTeRICS Ergo into English

[2017-09-11 18:52] stefaniehoechtl opened #12 "IrTrans setup wizard - step 4: USB cable"
**Problem:**
Some users missed to order an USB-cable. They release this when trying to install IrTrans. However, it is not clear which USB-cable to order.

**Solution:**
Setup IRTrans - step 4: add the exact name of the USB-cable needed (inkl. link to “Help – IrTrans”)

**Issue resolved if:**
The exact name of the USB-cable is added to step 4 of the IrTrans setup wizard & linked to “Help – IrTrans

[2017-09-11 19:03] stefaniehoechtl opened #13 "IrTrans setup wizard - step 3:"
**IrTrans setup wizard - step 3:**

**Problems:**
* IRTrans Software – InstallAware Wizard - “Selection Options”: it is not clear what to select
* Most participants skim through the text and do not read that they need to think about selecting “Add IRTrans Server to the Startup Folder”

**Solution:**
* Add a screenshot of “Select Options” (IRTrans Software – InstallAware Wizard)? inkl. explanation,

[2017-09-11 19:14] stefaniehoechtl opened #14 "IrTrans setup wizard - step 5"
**IrTrans setup wizard - step 5:**

**Problem:**
Some participants are looking for the symbol for a very long time. They cannot find it, as the installation is already finished, but they keep looking. Therefore some need the information that they can continue with step 6.

**Solution:**
Add the following an explanation:
“The setup is started automatically. The installation is still in progress, if

[2017-09-11 19:18] stefaniehoechtl opened #15 "IrTrans setup wizard - step 6"
**IrTrans setup wizard - step 6:**

**Problem:**
-	It is not clear where „start“ is.
-	The user cannot see the picture when searching for “IRTransServer USB”.

**Solution:**
-	Add an arrow pointing towards “start” (on the picture).
-	Move the picture to the right.

[2017-09-12 07:00] klues opened #16 "Bug after deleting and re-adding IR-Device"
**Problem:**
If I add an IR-Device, delete it and re-add it, some buttons are duplicated.
Steps to reproduce:
1. Start AsTeRICS-Ergo
2. Start the wizard to add a new television
3. Learn some commands
4. Finish the wizard (e.g. after learning the first 2 commands)
5. Delete the new added Television in the main menu (right click -> delete)
6. repeat steps 2-4
7. Open the added television, there are

[2017-09-12 11:24] klues commented on #16
fixed by https://github.com/asterics/AsTeRICS-Ergo/pull/17
additionaly to fixing the described problem also these points were implemented:
* encoding of saved data to prevent errors with special characters
* reduced number of data-saves to prevent synchronization errors

[2017-09-12 11:24] #16 closed, assigned to nobody

[2017-09-12 12:05] klues commented on #15
fixed with https://github.com/asterics/AsTeRICS-Ergo/pull/18
result: http://prntscr.com/gk7514

[2017-09-12 12:05] #15 closed, assigned to nobody

[2017-09-12 12:31] klues commented on #13
habs jetzt mal so gemacht:
http://prntscr.com/gk7lbj

bezüglich den Punkt mit "Select Options": Ich weiß nicht, wollen wir da wirklich noch einen extra Screenshot hinzufügen sollen?! Der Assistent ist eh schon so lange und einen eigenen Screenshot für etwas, wo der User eh nix machen muss, finde ich ein bisschen unnötig, oder?

[2017-09-12 12:49] klues commented on #14
schaut jetzt so aus:
http://prntscr.com/gk7uug
hab nur den Text bisschen abgeändert und es den letzten Satz fett gemacht.
Passts so, oder sollen wir es anders machen?

[2017-09-12 13:01] klues commented on #12
sieht jetzt so aus: http://prntscr.com/gk7yth und ist damit closed.
siehe https://github.com/asterics/AsTeRICS-Ergo/pull/19

[2017-09-12 13:01] #12 closed, assigned to nobody

[2017-09-12 13:03] klues commented on #14
stand oben ist mit https://github.com/asterics/AsTeRICS-Ergo/pull/19 gemerged, also wenn es passt, kann man das Issue schließen.

[2017-09-12 13:03] klues commented on #13
stand oben ist mit #19 gemerged, also wenn es passt, kann man das Issue schließen.

[2017-09-12 13:30] deinhofer opened #20 "Fix virus scanner alerts"
**Problem**

Some virus scanner, e.g Avast, blame a virus when starting the installer (.exe?) for Asterics Ergo.
Some other virus scanner don't blame, e.g. Sophos.

**Solution**
Contact vendors of virus scanner and try to register installer or flag it as false positive.

[2017-09-12 14:02] deinhofer opened #21 "FS20 Patch and FS20 testing not properly working on Win8"
**Problem**
I have done several tests on Win8, but the problem may also be valid for Win 8.1. On Win10 the patching of the FS20 worked.

Test run 1
1) AsTeRICS Ergo started (FS20 plugged in, LED dark)
2) FS20 Test executed, Result: OK (**false**,  LED actually dark)
3) "Add device" selected: FS20-Test-Result: Missing (correct)
4) "Fix problem" clicked, FS20 plugged off/on --> LED dark
5) FS20 Test

[2017-09-12 14:19] deinhofer opened #22 "Starting AsTeRICS Ergo twice starts two instances"
**Problem**

When double clicking the AsTeRICS Ergo icon twice, two intances of the ARE are started. The second instance won't be able to register the ports for the ACS connection and the webservices and also won't be able to open the FS20 device. The web client should still work because it should continue to communicate with the first instance.
Nevertheless, not all consequences are clear and as

[2017-09-12 14:34] deinhofer opened #23 "Change port numbers of AsTeRICS Ergo"
**Problem**

When starting the ARE of Asterics or any other Asterics based project e.g. a standalone camera mouse, the same ports for the webservices (8081, 8082) are used.
But there are use cases where both instances should run independently, e.g. when Asterics Ergo should be used for environmental control and the Asterics camera mouse as input device.

**Solution**
A simple fix would be to chang

[2017-09-12 14:42] deinhofer opened #24 "Disclaimer text should exclude controlling vehicles (e.g. wheelchairs)"
**Problem**

AsTeRICS Ergo must not be used to control vehicles e.g. a wheelchair. The disclaimer text should state this explicitely!

**Solution**
Extend disclaimer text in web UI

[2017-09-12 15:26] klues commented on #4
see: https://prnt.sc/gk9t3m
resolved with https://github.com/asterics/AsTeRICS-Ergo/pull/25

[2017-09-12 15:26] #4 closed, assigned to nobody

[2017-09-12 15:26] klues commented on #2
see: https://prnt.sc/gk9t3m
resolved with https://github.com/asterics/AsTeRICS-Ergo/pull/25

[2017-09-13 07:18] klues commented on #2
habs jetzt wie oben im video zu sehen gemacht. Was meint ihr, passt das so? Ich hab jetzt keinen neuen Text hinzugefügt (Text liest ja eh keiner). Ich hoffe so, wie es ist, mit dem Runterspringen und der Animation sollte es eh klar sein, wie das Ganze funktioniert, oder?

[2017-09-13 09:26] klues commented on #24
fixed with https://github.com/asterics/AsTeRICS-Ergo/pull/26
now looks like this:
http://prntscr.com/gkkp7m
http://prntscr.com/gkkpc1

[2017-09-13 09:26] #24 closed, assigned to klues

[2017-09-13 12:18] deinhofer commented on #24
great! :+1:

[2017-09-14 16:25] stefaniehoechtl commented on #2
Super gemacht. :) Das mit der Erklärung war ein Wunsch von ein paar TN. Lassen wir es vorerst einfach mal so. Ein paar TN hätten sich schon eine Erkläung gewünscht. Es sind allgemein auch ein paar Sachen gefallen, die sie gerne zusäztlich erklärt oder für sie verständlicher formuliert hätten. Bei der Übersetzung ins Englische schau ich eh auch, ob sie sich nicht auch Änderungen auf der deutschen S

[2017-09-14 16:32] stefaniehoechtl commented on #13
Finde ich super, so wie du es gemacht hast. ;) Wegen "Select Options": das war für ein paar TN schon sehr verwirrend. Wir müssen es finde ich zumindest erwähnen, dass man da nichts umstellen braucht. Weil es haben einige TN länger überlegt, ob sie hier etwas ändern sollen und 1 hat sogar etwas geändert. Aber ist hald die Frage, ob es nicht noch verwirrender ist, wenn wir es nur beschreiben. Ich da

[2017-09-14 16:34] stefaniehoechtl commented on #14
Finde ich gut :)

[2017-09-14 16:36] #14 closed, assigned to nobody

[2017-09-14 21:06] stefaniehoechtl opened #27 "Intervisibility: IrTrans - device"
**Problem:**
Sometimes controlling a device is not possible, as the IrTrans is covered. It is not clear which part of IrTrans needs to point towards the device and that intervisibility is needed.

**Solution:**
•	Add an explanation, e.g. to be able to control the device, ensure that there is intervisibility between the IrTrans and the device.
•	Add a picture, which shows which part of the IrTrans

[2017-09-14 21:11] stefaniehoechtl opened #28 "room lighting: replacing the conventional light bulb with the IR bulb"
**Problem:**
It is not clear when to replace the conventional light bulb with the IR bulb

**Solution:**
Add an explanation in the wizard for setting up the control of the room lighting

[2017-09-14 21:20] stefaniehoechtl opened #29 "Assistance - IrTrans: linkage to wizards"
1 participant has the following wish:
Assistance – IrTrans: the examples (TV, DVD player, radio & room lighting) should be linked with the corresponding wizard.

[2017-09-14 21:35] stefaniehoechtl opened #30 "Enable error correction in the wizards “Remote-device” & “Remote-commands”"
**Problem:**
Errors cannot be corrected in the wizards “Remote-device” & “Remote-commands”

**Suggestion for improvement:**
Enable error correction (add the button “relearn previous”) in the wizards “Remote-device” & “Remote-commands” (this is already possible in the wizards for setting up the control of a TV, radio, etc.)

[2017-09-14 21:40] stefaniehoechtl opened #31 "confirmation pops up after setting up the control of a device"
**Suggestion for improvement:**
After setting up the control of a device, some participants would like to have a window, which pops up and confirms the successful set-up of the control of the device

[2017-09-14 21:52] stefaniehoechtl opened #32 "keep a button pressed"
**Problem:**
Navigating a robot vacuum cleaner or controlling the volume of the radio is too difficult, as it is not possible to hold a button pressed.

--> There needs to be a possibility for keeping a button pressed.

[2017-09-14 21:57] stefaniehoechtl opened #33 "error correction: "open link in new tab""
**Problem:**
If you do a right-hand click on a link - „open link in new tab” – the correct page does not always open
--> Error correction needed

[2017-09-18 11:32] klues commented on #2
ok, then I close the issue.
(Martin said we should write everything in English, so I'll do that ;))

[2017-09-18 11:32] #2 closed, assigned to nobody

[2017-09-18 11:53] klues commented on #13
added screenshot in https://github.com/asterics/AsTeRICS-Ergo/pull/34

[2017-09-18 13:39] klues commented on #13
see here for version with new, second screenshot:
https://asterics.github.io/AsTeRICS-Ergo/mock.html#!/home/envcontrol/help/install/irtrans?mockIrConnected=false

[2017-09-18 13:39] #13 closed, assigned to nobody

[2017-09-18 14:13] klues commented on #28
fixed with: https://github.com/asterics/AsTeRICS-Ergo/pull/36
see: https://asterics.github.io/AsTeRICS-Ergo/mock.html#!/home/envcontrol/add/amblight/

[2017-09-18 14:13] #28 closed, assigned to nobody

[2017-09-18 17:25] stefaniehoechtl opened #37 "Defining favorites"
The participants recommend that the users should be able to define the most commonly used commands as favorites in order to access them in an efficient way.
However, there is no proposal of implementation yet.

[2017-09-18 17:32] stefaniehoechtl opened #38 "buttons: individual colours"
One participant would like to be able to assign every button an inividual colour.

[2017-09-18 17:34] stefaniehoechtl opened #39 "editing mode and user mode"
One participant recommends setting up an editing mode and an user mode, in order that the user cannot make accidential changes.

[2017-09-18 17:36] deinhofer commented on #39
This could be very important for cognitive disability or to prevent deleting buttons accidently by a user with motor impairment.

[2017-09-24 13:50] stefaniehoechtl opened #40 "Test report AsTeRICS Ergo Version 3.2.1 Windows 10"
**Acer - Windows 10
AsTeRICS Ergo Version 3.2.1**

**_Detailed description:_**
Download successful.
**I want to open the installation file, however, a window pops up which states that the execution of this app might be a risk for the PC.** As user I would be suspicious.
I decide to continue anyway.
I open “AsTeRICS Ergo”. The Hardware wizard is working properly.
**I select „New Device“ – „Table /

[2017-09-24 20:58] deinhofer commented on #40
The window popup is probably related to the virus scanner false positive problem:
#20

Regarding the hanging HW tests, similar things have already been observed here:
#21

So, if we are lucky and fix the two issues above, there might be a chance that this issue is fixed as well.

[2017-09-25 18:31] stefaniehoechtl commented on #40
Thank you for the tip.

**_Detailed report of further testing (short summary see below):_**
**I disable the protection of my virus scanner (I use Kaspersky).**
I open AsTeRICS Ergo and select „New Device“ – „Table / Floor Lamp“. **The examination whether the FS20 is already installed works.** I am asked whether I have already bought FS20 – I select “yes”.
**Installation FS20 wizard: after 10 sec,

[2017-09-25 21:07] stefaniehoechtl opened #41 "Test report AsTeRICS Ergo Version 3.2.1 Windows 7"
Summary:
- AsTeRICS Ergo v.3.2.1
- Windows 7
- Asus
- Avira

**Positive Findings:**
•	The installation of the FS20 system and IrTrans work without any problems.
•	The already installed devices remain saved when restarting the computer.

**Limitations:**
•	There are several warnings whilst downloading and installing AsTeRICS Ergo (e.g. AsTeRICS Ergo is downloaded rarely and can cause damage on your

[2017-09-27 09:23] klues commented on #11
Merged https://github.com/asterics/AsTeRICS-Ergo/pull/42 for making FAQs translateable and searchable
see: https://asterics.github.io/AsTeRICS-Ergo/mock.html#!/home/envcontrol/help/faq/ for testing it
@stefaniehoechtl (or anyone) could now start to translate the FAQs by editing the files:
* https://github.com/asterics/AsTeRICS-Ergo/blob/master/custom/bin/ARE/data/webservice/angular/envControl/comp

[2017-09-27 09:38] klues commented on #40
Hi, unfortunately you are testing with an old version (sorry that I did not read your tests until now).
* the communication between ARE and webapp has been changed with https://github.com/asterics/AsTeRICS-Ergo/issues/1 so maybe the issue that you have to disable kaspersky is now gone with that.
* the issue that sometimes devices are gone or buttons duplicated i also improved with https://github.c

[2017-09-27 09:58] klues commented on #40
just published a new release including the mentioned fixes: https://github.com/asterics/AsTeRICS-Ergo/releases/tag/v3.2.2
@stefaniehoechtl maybe I should show you some time how you can run the latest version on your computer without installing a new release

[2017-09-28 13:38] klues commented on #21
Did some more tests on a windows 8.1 Tablet.
Strange behaviour:
* starting start-debug-webservice.bat from asterics-repo -> patching FS20 in assistant works, registry is changed! (non-administrator). strange: i do not get any UAC-control message, changing the registry just happens...
* Starting start-debug-webservice.bat from installed asterics-ergo version in appdata --> patching FS20 in assistan

[2017-09-28 14:00] klues commented on #21
narrowed down the problem, did 2 tests:
* run start-debug-webservice.bat from C:\Users\<User>\AppData\Local\AsTeRICS Ergo\app --> Registry patch did not work
* copy "app"-folder to desktop and run start-debug-webservice.bat --> patch works!

so it is somehow related to the fact, that asterics-ergo is installed to the "AppData"-Folder. @deinhofer why this is the case? why it is not installed to C:\

[2017-09-28 14:59] klues commented on #21
Also tested on Win 10:
* normal start via .exe after install -> FS20 Patch does **not** work
* starting via start-debug-webservice.bat in AppData -> FS20 Patch does **not** work
* copy everything to desktop and start via start-debug-webservice.bat -> FS20 Patch does **not** work
* start from git-repo-folder (on usb-disk) via start-debug-webservice.bat -> FS20 Patch **works**!
very strange...

[2017-09-28 15:05] klues commented on #21
so the question are:
* how it can be that the patch does not work in AppData, but on Desktop on Win8?
* why does the patch does not work at all from the installed version but from the git-version on Win10?

[2017-09-28 17:59] stefaniehoechtl commented on #40
Yes please, maybe you can show me on Monday?
I did a test with the latest version (see new issue).

[2017-09-28 17:59] #40 closed, assigned to nobody

[2017-09-28 18:07] stefaniehoechtl opened #43 "Test report AsTeRICS Ergo v-3.2.2 Windows 10 acer"
Acer - Windows 10
AsTeRICS Ergo Version 3.2.2
When opening the installation file, a window pops up which states that the execution of this app might be a risk for the PC.
...
I choose “New Device” – “Table / Floor Lamp”. I am asked whether I have already bought the FS20 system - I select yes. **I follow the instructions in the FS20 Installation Wizard. However, the lamp is not lit after 10 sec. Wh

[2017-09-28 18:41] stefaniehoechtl opened #44 "Test report AsTeRICS Ergo v-3.2.2 Windows 10 asus"
Test report
Date: 28.09.2017
Windows 10
Asus
Kaspersky

Download AsTeRICS Ergo. When opening the installation file, a security warning pops up.
...
I select „New Device“ – „Table /Floor Lamp“. **I follow the instructions of the FS20 installation wizard. However, the lamp is not lit after 10 sec. When selecting „fix problem“, nothing happens.**
I go back and select „Ambient Light“. **I follow the i

[2017-09-28 21:22] stefaniehoechtl commented on #11
I tried to translate the questions & anwers. I created new branches, as I do not want to destroy anything. Could you give me Feedback if I did anything wrong and show me how I can do it better?

@klues Based on the last round of our user evaluation, I would like to add some more FAQs. Could you show me how to do that? Could you also show me how I can translate the text of other pages (e.g. IrTrans

[2017-09-29 08:25] klues commented on #11
@stefaniehoechtl i've merged most of the pull requests - very good work, that was quick! 👍
you can see and check the result here: https://asterics.github.io/AsTeRICS-Ergo/#!/home/envcontrol/help/faq/
yes i'll show you how to translate text on other pages (on monday, or on another day - things we want to do on monday are getting quite much ;))

[2017-09-29 08:40] klues commented on #43
thanks for testing! :)

**regarding (1) - FS20:**
* I also tried it yesterday on win10 and it did not work - we are already investigating this problem in https://github.com/asterics/AsTeRICS-Ergo/issues/21

**regarding (2) - IrTrans:**
* I'll now try it on my computer.

PS: please write tests a little bit more structured like e.g.
**Test 1:**
* Install AsTeRICS-Ergo
* Go to "new Device" -> "Table

[2017-09-29 08:42] klues commented on #43
such a structured form will help us to more quickly see what is wrong and follow your actions, you did...

[2017-09-29 09:09] klues commented on #21
it defenitely has to do something with the path asterics ergo is installed. some more tests:
* start with .bat in Desktop/app -> works
* start with .bat in "Desktop/app 2" -> does not work
* start with .exe in "Desktop/AsTeRICS Ergo" -> does not work
* start with .exe in "Desktop/AsTeRICSErgo" -> works

so it works if the path does not have a space.
I'll investigate why..

[2017-09-29 11:04] klues commented on #21
fixed patch-script with: https://github.com/asterics/AsTeRICS/pull/141/commits/c015ab85ca24786bce0d4b44bb47bc6417e24aa6
fixed problem that fs20 is shown as "connected" while it is not with https://github.com/asterics/AsTeRICS-Ergo/pull/81

released with https://github.com/asterics/AsTeRICS-Ergo/releases/tag/v3.2.3 and tested with Win10 and Win8 -> Patching Worked!
Java once crashed after patching,

[2017-10-01 15:47] stefaniehoechtl commented on #43
Ok, I'll try and do it like this next time. ;)

[2017-10-02 12:35] deinhofer commented on #21
great! Will test it again.
Does it also work without Administrator privileges on Win8 now?

[2017-10-02 12:44] klues commented on #21
on my test on out win8 tablet it worked without administrator privileges. however i did not get a UAC-dialog, it just worked -> strange.

[2017-10-02 14:26] klues commented on #20
i think the only thing we can do is to write to the most used antivirus-companys (or send them the file as a false positive) and hope, that they will whitelist us...
two quite recent statistics about most used antivirus software:
https://www.statista.com/statistics/271048/market-share-held-by-antivirus-vendors-for-windows-systems/
https://www.av-comparatives.org/wp-content/uploads/2016/02/security

[2017-10-02 14:49] deinhofer commented on #20
Ok, I can do this.

[2017-10-02 15:10] klues commented on #20
I've created a list where we can track tests with AV-software and monitor the status of requests to AV-companies (feel free to change things, add colums):
https://docs.google.com/spreadsheets/d/1pJtGeN2v4KcjaepLP0tnMcPcKLSNv15zJOL3CMQw9tA/edit?usp=sharing

[2017-10-02 16:13] deinhofer commented on #23
@deinhofe: makes webservice ports configurable in Asterics master repository.
Asterics Ergo will then use hardcoded ports at: 8091?, 8092?

[2017-10-02 16:17] klues commented on #27
Will be solved with this changes:
* replacing normal ir-trans-picture here: http://prntscr.com/gsdb04 with a picture where IrTrans + Remote control are seen
* after finishing the add-ir-assistant a message like this: http://prntscr.com/gsdciy will be shown (success message) which tells the user, that he now must point irTrans at the device (+ picture maybe)

[2017-10-02 16:18] deinhofer commented on #21
@deinhofer: The rare crashes of the ARE (see point 1.6) are still unclear. --> Check patch implementaiton regarding multi-threading and model executor thread.
The other points should work already --> Test it

[2017-10-02 16:20] deinhofer commented on #20
Regarding the warning message on windows 10 (Windows Defender):
This could be related to the fact the AsTeRICS Ergo is not signed and hence is treated as untrusted.

--> Sign installer with an AsTeRICS certificate?

[2017-10-04 14:40] klues commented on #11
I made the rest of AsTeRICS-Ergo translateable in this branch:
https://github.com/asterics/AsTeRICS-Ergo/tree/hoechtl/issue%2311/translate-asterics-ergo

@stefaniehoechtl you could do the translation now by translating everything in https://github.com/asterics/AsTeRICS-Ergo/blob/hoechtl/issue%2311/translate-asterics-ergo/custom/bin/ARE/data/webservice/angular/envControl/i18n/i18n_envControl_en.js

[2017-10-05 19:20] stefaniehoechtl commented on #8
@klues I added some FAQs. I hope I've done everything right?

[2017-10-06 07:47] klues commented on #8
great! :+1:
i briefly looked at them, most things were correct. you had some errors like `<b>text...<b/>` instead of `<b>text...</b>` but considering the fact that you edited this online and had no support of an text-editor you did a great job! :)

i pushed the changes you made in the branch to our online-version and you can check them here:
https://asterics.github.io/AsTeRICS-Ergo/mock.html#!/hom

[2017-10-09 14:33] klues opened #83 "Installer: Remove old version if already installed"
If I have installed an old version of AsTeRICS-Ergo and start the installer of a new version, the old version is not uninstalled.

Issue is resolved if:
*Installer of AsTeRICS-Ergo checks for old version and uninstalls it.

[2017-10-09 14:33] klues opened #84 "(loader_componentlist.ini) WebSocket does not Work on Windows 10 Tablet"
On a Windows 10 Tablet AsTeRICS-Ergo does not work, because the envControl.acs-Model cannot be deployed.
Error is: Failure on start of WebSocket-Plugin

[2017-10-09 14:36] klues commented on #84
@stefaniehoechtl
please insert details about your tablet and your windows-version

@deinhofer
please insert the details about the websocket-error on model deployment (if you have more).

[2017-10-09 14:39] klues opened #85 "User-Mode that only shows buttons for controlling devices"
A user-mode would be nice where it is only possible to control the learned devices and where other buttons (configuration, adding of devices) are not shown.
This mode would be good for users which use scanning and who do not want to add new devices.

[2017-10-09 15:01] klues opened #86 "Errors in Firefox on Windows 10"
Sometimes we got strange errors on Firefox on Windows 10:
Case 1:
* Added a new ambient light
* Go to new ambient light buttons
* click "new command"
* Checking if IrTrans is installed hangs and does not end
** Console does not show error messages

Case 2:
* Adding new "radio"
* Learning commands
*  After some commands learned no new command is learned anymore
** irtrans blinks green, which indica

[2017-10-09 16:48] stefaniehoechtl commented on #84
Microsoft Windows 10 Home (Version 10.0.15063 Build 15063)
Acer Switch Alpha 12 (SA5-271)

[2017-10-09 17:07] stefaniehoechtl commented on #8
Thank you very much for these tips & links.
That helps a lot. :)

[2017-10-10 08:18] klues opened #87 "User Mode with limited amount of Buttons"
For end-Users which use scanning it would be good to have a special user-mode where buttons like "add device", "help", "delete" or the language combobox are not visible.
The idea is to add a toggle-button on the top of the page which can turn on or turn off the user mode:
http://prntscr.com/gvimrx

Additionally it would be good if the design of the actual-control buttons is different to the button

[2017-10-10 08:29] deinhofer commented on #84
It seems that the Websocket plugin could not be started, although this should just register at an internal websocket service. At startup everything was fine, but when the model envControl.js was supposed to be deployed, the start of the Websocket plugin failed.

Here is a log file snippet:
[log_websocket_error.txt](https://github.com/asterics/AsTeRICS-Ergo/files/1374472/log_websocket_error.txt)
im

[2017-10-10 08:34] klues commented on #39
duplicate of https://github.com/asterics/AsTeRICS-Ergo/issues/87 -> closed

[2017-10-10 08:34] #39 closed, assigned to nobody

[2017-10-10 08:35] klues commented on #85
duplicate of https://github.com/asterics/AsTeRICS-Ergo/issues/87 -> closed

[2017-10-10 08:35] #85 closed, assigned to nobody

[2017-10-11 06:52] klues commented on #84
@deinhofer I found out how to attach a file -> just drop it to to comment box (or click on the link on bottom of the comment box to select a file). I did this for your last comment in order to keep this thread better readable.

@stefaniehoechtl  @all
I installed Windows 10 Home on a virtual machine and tried to start AsTeRICS-Ergo there. It worked - no WebSocket error! Windows Version is: Windows

[2017-10-11 09:32] klues commented on #84
we just found the error by chance :)
error:
1) The folder `C:\Users\<User>\AppData\Local\AsTeRICS Ergo\app\profile` contains the file `loader_componentlist.ini` which defines which components are needed/used by AsTeRICS-Ergo
2) These files are not deleted on uninstall
3) @stefaniehoechtl had installed a previous version of AsTeRICS-Ergo, which did not use WebSockets -> `loader_componentlist.ini` d

[2017-10-11 10:21] klues commented on #86
the error probably occured because with each request from irTrans/FS20 to ARE a new websocket was opened and (maybe not correctly) closed. The error was reproducable e.g. by:
* Adding some commands to a new ambient light
* go to installed ambient light
* click on "New Command", quickly go "Back" (this starts the learn command in background with 5 seconds timeout)
* often click on a already learned

[2017-10-11 10:21] #86 closed, assigned to nobody

[2017-10-11 19:34] deinhofer commented on #21
changed patch implementation to use temp files which are automatically deleted on program exit.

regarding multi-threading we should change the SendCallable so that it is guaranteed that all the operations (open, read, write, close) are done within the same thread. Maybe we should open/close the device after each command. A good solution could also be to use a dedicated FS20 device thread which wa

[2017-10-12 07:57] klues commented on #84
@stefaniehoechtl in order to fix this problem on your computer you just can delete the file:
`C:\Users\<YourUsername>\AppData\Local\AsTeRICS Ergo\app\profile\loader_componentlist.ini`
after that your AsTeRICS-Ergo should work.

[2017-10-12 08:08] klues commented on #21
ok, thanks for improving the patch implementation.
I will look on the thing with the SendCallable, when I have time -> I'll add it to my TODO-list

[2017-10-19 12:44] klues commented on #21
@deinhofer: regarding multi-threading:
what is the goal of your suggested changes? to prevent that several threads send something to FS20 at the same time, correct?
then why not just make this method:
https://github.com/asterics/AsTeRICS/blob/e21e2b553cab77121ee0c4e1e36338d2ee78bf74/ARE/components/actuator.fs20sender/src/main/java/eu/asterics/component/actuator/fS20Sender/PCSDevice.java#L107
synch

[2017-10-19 13:43] klues commented on #23
fixed with https://github.com/asterics/AsTeRICS-Ergo/pull/89
port numbers are now:
REST: 9081
websocket: 9082

[2017-10-19 13:43] #23 closed, assigned to deinhofer

[2017-10-19 14:02] klues commented on #84
with https://github.com/asterics/AsTeRICS-Ergo/pull/90 now `loader_componentlist.ini` is deleted on uninstall. so for the future the problem should be fixed, however it nevertheless would be good to also do https://github.com/asterics/AsTeRICS/issues/172

[2017-10-19 14:14] klues commented on #84
@stefaniehoechtl: I just created a new release: https://github.com/asterics/AsTeRICS-Ergo/releases/tag/v3.3.0
if you install it, uninstall it, and reinstall it your problem should be solved and AsTeRICS-Ergo should work on your tablet :)

[2017-10-19 14:28] deinhofer commented on #23
Great!

Just one favour: change it to
8091
8092
as suggested in the comment above.

The reason is the following:
Due to APE it will be possible that several instances of ARE run on the same machine e.g. normal ARE, Asterics Ergo, Camera Mouse,...
They all need there dedicated ports. So I thought about numbering scheme which starts at

8081-8090 for the normal ARE
8091-8100 for AstErICS Ergo
8101-8

[2017-10-19 14:45] klues commented on #23
ok, changed it to 8091 and 8092 with https://github.com/asterics/AsTeRICS-Ergo/pull/91

[2017-10-19 15:39] deinhofer commented on #21
no, it's ´not only about preventing a concurrent access, it is also about ensuring that the native access is always done by the same thread, because some native libs crash if the device is used by different threads even when synchronized

[2017-10-19 15:42] klues commented on #21
really? also if the old threads do not exist anymore?
ok, then I'll see what I can achieve...

[2017-10-19 16:05] deinhofer commented on #21
at least this was the case for the former hid library.
What if you simply use the same ExecutorService instance for executing open, write, read and close?

[2017-10-20 11:26] klues commented on #21
opened new issue https://github.com/asterics/AsTeRICS/issues/182 so that this will not be forgotten.

[2017-10-20 11:52] klues opened #92 "Change saving data in AsTeRICS Ergo and use new REST-method to save webapp-data"
after adding new REST-methods with https://github.com/asterics/AsTeRICS/issues/183 AsTeRICS-Ergo should use it to save and retrieve data.

[2017-10-20 11:52] klues commented on #92
depends on https://github.com/asterics/AsTeRICS/issues/163

[2017-10-23 21:40] stefaniehoechtl commented on #84
@klues
I did as you described and now it works on both my and Peter's computer. :)
However, on my computer I had to set up the control of the FS20 devices every time after restarting the computer until I deleted the file C:\Users\<YourUsername>\AppData\Local\AsTeRICS Ergo\app\profile\loader_componentlist.ini - now it works without any problems. On Peter's computer I did not have to delete this fil

[2017-10-24 06:42] klues commented on #84
hmm, strange...
so what exactly was your problem with FS20?
(1) you had to reinstall FS20 every time or
(2) you had to re-add a learned FS20 device?
if (2): learned IrTrans commands remained and you did not have to re-learn them?

normal, on a computer where AsTeRICS-Ergo was never installed none of the problems with the file `loader_componentlist.ini` should occur again. And with release 3.3. the

[2017-10-24 14:32] klues commented on #20
Regarding Windows SmartScreen Defender:
Its very strange how it works, I have tested these cases:
* 3.2.3.exe --> copied from other PC to Downloads-Folder -> **no warning**
* 3.2.3(1).exe --> fresh download from github --> **warning**
* 3.3.0.exe --> fresh download from github --> **warning**
* rename 3.2.3(1).exe to 3.2.3.exe --> **no warning**
* copy everything to desktop or USB-drive and start

[2017-10-27 11:24] klues commented on #20
Tried to do something with "Windows Application Verifier", but the only result after starting "analyzing" AsTeRICS-Ergo with it was that it did not start anymore with "AsTeRICS-Ergo.exe" :(

[2017-10-27 15:54] stefaniehoechtl commented on #84
After restarting the computer, all devices, which I had already set up, were there. The control of the devices using the IrTrans worked without any problem. The control of the devices using the FS20 system did not work any more. I had to select "New Device" - "Table / Floor-Lamp" - I was asked whether I had already bought the FS20 - I had to reinstall the FS20 system. Afterwards I was able to set

[2017-10-30 10:59] klues commented on #84
hmm, the behaviour you described with FS20 is strange... I do not really understand how this could happen?! @deinhofer: do yo have an idea?

[2017-10-30 13:48] klues commented on #3
fixed with https://github.com/asterics/AsTeRICS-Ergo/pull/94
see https://asterics.github.io/AsTeRICS-Ergo/mock.html#!/home/envcontrol

[2017-10-30 13:48] #3 closed, assigned to nobody

[2017-10-30 15:42] klues commented on #27
hopefully fixed with https://github.com/asterics/AsTeRICS-Ergo/pull/95 :
* after adding an IrTrans-device a success message is shown
* IrTrans-Assistants show picture with irtrans+remote control
see: https://asterics.github.io/AsTeRICS-Ergo/mock.html#!/home/envcontrol/add/amblight/

[2017-10-30 16:12] #27 closed, assigned to nobody

[2017-10-30 16:23] klues commented on #8
open FAQ: how to use smartphone. maybe use this technology:
https://www.whatismybrowser.com/detect/what-is-my-local-ip-address
to get own local IP and show link/QR-code to connect

[2017-10-30 16:29] deinhofer opened #97 "Disable legacy ACS ports"
The ports can be disabled in areProperties

[2017-10-30 16:40] klues commented on #21
just tested on Win10/Edge:
* checking if FS20 connected does not finish
* after patching registry, ARE crashed without error message.

just this in the logs:
Okt 30, 2017 5:33:52 PM eu.asterics.component.actuator.fS20Sender.FS20SenderInstance$3 receiveData
SCHWERWIEGEND: java.lang.NullPointerException

but this happened actually before patching:
Okt 30, 2017 5:34:25 PM eu.asterics.component.actuat

[2017-10-30 16:40] deinhofer commented on #11
translation done, must be merged and quality checked

[2017-10-30 16:41] deinhofer commented on #8
Question: how to control Asterics Ergo from Smartphone still missing.

[2017-10-30 16:48] klues commented on #11
merged https://github.com/asterics/AsTeRICS-Ergo/pull/96

[2017-10-30 16:48] klues commented on #8
merged https://github.com/asterics/AsTeRICS-Ergo/pull/96

[2017-10-30 17:00] deinhofer opened #98 "Add clientside timeout to testing of FS20 and IrTrans installation"
When FS20 or IrTrans are tested for installation. The webapp should fall into a timeout if the ARE does not respond within 5 seconds.

[2017-10-30 17:08] klues commented on #11
here you can see the current result of the translation:
https://asterics.github.io/AsTeRICS-Ergo/mock.html#!/home/envcontrol
@stefaniehoechtl please check once again and maybe contact your friend for checking

[2017-10-30 17:12] deinhofer opened #99 "Link AsTeRICS Ergo from www.asterics-academy.net"
Add an entry to http://www.asterics-academy.net/tools

and link to the mock version https://asterics.github.io/AsTeRICS-Ergo/mock.html#!/home
and the help page directly: https://asterics.github.io/AsTeRICS-Ergo/mock.html#!/home/envcontrol/help

[2017-10-30 17:19] klues commented on #8
@stefaniehoechtl please add a FAQ describing issues with AntiVirus programs

[2017-10-30 17:27] klues commented on #92
we will do this after https://github.com/asterics/AsTeRICS/issues/163 is done

[2017-10-30 17:30] klues commented on #20
by now we will "fix" this issue by adding a FAQ regarding virus-scanners - see https://github.com/asterics/AsTeRICS-Ergo/issues/8

[2017-10-31 09:54] klues commented on #21
Steps to reproduce ARE crash:
* uninstall FS20 device
* connect FS20 device to computer
* wait until red light is dark
* open AsTeRICS-Ergo (v.3.3.0), go to FS20 installation wizard
* click on "solve problem" ("problem beheben") -> registry is patched
* click on "Test" - Button several times -> test fails because FS20 was not re-connected and red light is still dark
* disconnect FS20 USB plug
* co

[2017-10-31 09:57] klues commented on #21
also reproduced this in debug-mode now, there is no exception but:
`Java returned: -1073740940`

[2017-10-31 11:42] klues commented on #21
second way to reproduce:
* uninstall FS20 device
* connect FS20 device to computer
* wait until red light is dark
* open AsTeRICS-Ergo (v.3.3.0), go to FS20 installation wizard
* do not click on "solve" problem, but directly go to "Test"
* While test is running, disconnect FS20 USB
* ARE crashes

[2017-10-31 15:41] klues commented on #98
should be fixed with https://github.com/asterics/AsTeRICS-Ergo/pull/100

[2017-11-02 09:04] klues commented on #21
ARE crashes should be fixed with https://github.com/asterics/AsTeRICS/issues/182
so I think we can close this issue.

[2017-11-02 09:04] #21 closed, assigned to klues

[2017-11-02 10:55] klues opened #101 "Add Firewall patch in order to be able to connect to AsTeRICS-Ergo from remote Tablet/Smartphone"
Currently Windows 10 by default blocks traffic needed for AsTeRICS-Ergo to work on a remote Smartphone/Tablet. I wrote this patch:
[fixfirewall.zip](https://github.com/asterics/AsTeRICS-Ergo/files/1437412/fixfirewall.zip)
which deletes blocking Java-Firewall-Rules and adds a a rule for the needed ports of AsTeRICS-Ergo.

This patch could be included similar to the FS20-patch to be started from the

[2017-11-02 13:07] klues commented on #101
for the exe-release this fix should be the right one:
[fixfirewall2.zip](https://github.com/asterics/AsTeRICS-Ergo/files/1437822/fixfirewall2.zip)
it disables the rules for "asterics ergo.exe" and not for java in general.

[2017-11-02 14:44] klues commented on #101
in order to also support Edge/IE for showing the correct local IP in the Smartphone-FAQ, we maybe could add a REST-method that returns the current local IP, with some snippet like this:
[code]

[2017-11-02 15:18] klues commented on #8
added FAQ describing how to use AsTeRICS-Ergo with a smartphone with: https://github.com/asterics/AsTeRICS-Ergo/pull/102

looks like this:
https://asterics.github.io/AsTeRICS-Ergo/mock.html#!/home/envcontrol/help/faq/38
(of course with online-version it does not work to connect with smartphone)

problems:
* detecion of local IP only works in Chrome and Firefox, not in Edge or IE
* Win 10 firewall

[2017-11-02 15:20] klues commented on #8
so the only remaining missing FAQ is the one describing antivirus-issues, @stefaniehoechtl please add it. afterwards we can close this issue :)

[2017-11-02 15:21] #98 closed, assigned to klues

[2017-11-04 16:29] stefaniehoechtl commented on #20
I added the FAQ regarding the antivirus programs to the master branch.

[2017-11-04 16:42] stefaniehoechtl commented on #8
I added the FAQ regarding the antivirus programs to the master branch.

[2017-11-05 17:50] stefaniehoechtl commented on #11
@klues
I checked the translation and found the following mistakes:
**Ad Installation of the FS20 system:**
Change _“Installation of the FS20 system0.”_ into --> _“Installation of the FS20 system”_
Change _“The FS20 system was installed successfully. Please select New Device The FS20 system was installed successfully. Please select“_ into --> _„The FS20 system was installed successfully. Please sel

[2017-11-05 18:03] stefaniehoechtl commented on #8
@klues
**I reviewed the FAQs – could you please add the following links / illustrations? (changes concern the German and English FAQs)**
**Question 1** (Which devices can be controlled using AsTeRICS Ergo?) --> **add links**
**Question 14** (I set up a device (e.g. TV, DVD player, ambient light, radio / CD player) using the IrTrans. However, it is not possible to control it using AsTeRICS Ergo. Wh

[2017-11-06 11:57] deinhofer commented on #101
Think about executing it in the installer run section: http://www.jrsoftware.org/ishelp/index.php?topic=runsection

Regarding fetching the IP address:
Yes this is a good idea. But the script should not only show IPs of WLANs as wired ones could be also used.

[2017-11-06 12:02] deinhofer commented on #8
I checked your link showing the ip-address FAQ:
https://asterics.github.io/AsTeRICS-Ergo/mock.html#!/home/envcontrol/help/faq/38

On my chrome browser only the IP-address is shown, but not the whole link. Shouldn't it show the whole  URL including the port numbers? e.g. http://<ip>:<port>/

[2017-11-06 13:41] klues commented on #101
@ run in installer:
yes, good idea, better than a manual patch that has to be executed by the user.

@ ip address:
the problem is, that it is not really possible to detect which IP to use if there are more than one active network interfaces (`element.isUp()`). thats why I thought of this "hack" to only use wifi-interfaces, because it will be the right one in most of the cases...
Maybe we can imple

[2017-11-06 13:49] klues commented on #8
@ FAQ 38, @deinhofer:
yes, on github.io the port is missing, because my code uses the current port of the website (which is empty on github.io). locally it works.
but I will add a fallback, so that also online the port is shown.

the qr-code includes the whole link, with `http://`, but on the text I did not show `http://` because all browsers do correctly add it, if you just type the IP manually.

[2017-11-07 12:42] deinhofer commented on #84
Should be fixed with https://github.com/asterics/AsTeRICS/pull/200

[2017-11-07 12:42] #84 closed, assigned to nobody

[2017-11-07 12:56] #97 closed, assigned to deinhofer

[2017-11-08 11:21] klues opened #103 "Create info-site for AsTeRICS-Ergo"
for the first release of AsTeRICS-Ergo (4.0.0) we need an info page containing:
* general info about AsTeRICS-Ergo
* download-Button (linking to the latest release on github)
* links to the mock-sites of AsTeRICS-Ergo (github.io)
* two languages: german and english

the info-site should also be accessible on github.io. At first the path will be:
https://asterics.github.io/AsTeRICS-Ergo/info/
and t

[2017-11-08 13:02] klues commented on #8
@stefaniehoechtl
fixed your recommendations with https://github.com/asterics/AsTeRICS-Ergo/pull/104
check it here: https://asterics.github.io/AsTeRICS-Ergo/mock.html#!/home/envcontrol/help/faq/

i think we can close this issue now :)

[2017-11-08 13:02] #8 closed, assigned to stefaniehoechtl

[2017-11-08 13:06] klues commented on #11
@stefaniehoechtl
fixed the error with https://github.com/asterics/AsTeRICS-Ergo/pull/104
check it here: https://asterics.github.io/AsTeRICS-Ergo/mock.html#!/home/envcontrol/help/install/fs20

I will close this issue now, because I think everything is translated.
@stefaniehoechtl if your friend checks the translation and finds some more errors, lets make a new issue to fix them.

[2017-11-08 13:06] #11 closed, assigned to stefaniehoechtl

[2017-11-08 13:07] klues commented on #20
FAQ regarding antivirus is added, so I'll close this issue.

[2017-11-08 14:19] klues opened #105 "Add REST-Method to ARE that returns the current local IP address, for FAQ"
FAQ 38 (see: https://asterics.github.io/AsTeRICS-Ergo/mock.html#!/home/envcontrol/help/faq/38) currently uses a Javascript-Hack in order to get the current local IP-address. However it only works in chrome and Firefox, not in IE or Edge.

In order to show correct info in this FAQ also in IE/Edge we would need a ARE-Rest method that returns the current local IP address.

[2017-11-08 14:19] klues commented on #101
IP-address issue moved to own issue: https://github.com/asterics/AsTeRICS-Ergo/issues/105

[2017-11-08 14:20] klues commented on #105
in order to also support Edge/IE for showing the correct local IP in the Smartphone-FAQ, we maybe could add a REST-method that returns the current local IP, with some snippet like this:
[code]

[2017-11-08 15:53] klues commented on #101
should be fixed with https://github.com/asterics/AsTeRICS-Ergo/commit/3f388275f45ca8e6a9e73ec7d1d4224d8fc9148c

[2017-11-08 15:53] #101 closed, assigned to klues

[2017-11-09 14:54] klues opened #106 "Add Version info and link to AsTeRICS-Foundation to startpage"

[2017-11-09 15:53] klues commented on #103
created first version of the info-site here:
https://github.com/asterics/AsTeRICS-Ergo/tree/master/custom/bin/ARE/data/webservice/info

looks like this:
https://asterics.github.io/AsTeRICS-Ergo/info/index.html

@stefaniehoechtl @deinhofer
feel free to add/change anything or make suggestions what we should change/add :)

[2017-11-10 12:25] klues commented on #106
fixed with https://github.com/asterics/AsTeRICS-Ergo/commit/f75f4b718ce7ab2082011922c78ef39857236a8e

[2017-11-10 12:25] #106 closed, assigned to nobody

[2017-11-10 14:13] klues opened #107 "Version 4.0.0-alpha does not work on Win 8.1 - Browser starts and shows "No Connection""

[2017-11-10 14:14] klues commented on #107
case (1): (chris' laptop)
looks like this: http://prntscr.com/h8pc44

[2017-11-10 14:44] klues commented on #107
@ case (1):
* AsTeRICS 3.3 works
* also does not work with current master from asterics-ergo repo.

log file says:
`[java] FEIN: Starting REST API at http://0.0.0.0:8091/rest`
but not:
`[java] FEIN: Initializing Websocket...` <-- is shown on Win10 computer, where AsTeRICS-Ergo works

@deinhofer: do you have any idea what the error could be?

[2017-11-10 15:24] klues commented on #107
case (2):
I've tried to install AsTeRICS-Ergo 3.3 and 4.0 on a Windows 8 Virtual Machine - both did not work :'(
* at starting with .exe: http://prntscr.com/h8qd1c
* at starting with .bat: http://prntscr.com/h8qbiw

After installing JDK on the virtual machine, the .bat works, the .exe not.

[2017-11-11 16:57] stefaniehoechtl opened #108 "Version 4.0.0-alpha - control of FS20 devices after restarting the laptop only works after unplugging and reconnecting the FS20"
AsTeRICS Ergo works perfectly on Peter’s PC (Windows 10 Pro, using Microsoft Edge) and my old laptop (Microsoft Windows 7 Home Premium, using Google Chrome).
On my laptop (Acer Switch SA5-271; Windows 10 Home, using Mozilla Firefox) setting up the control worked perfectly. However, I cannot control the FS20 devices after restarting the computer. I always need to start AsTeRICS Ergo, unplug and rec

[2017-11-11 16:57] #44 closed, assigned to nobody

[2017-11-11 16:59] #41 closed, assigned to nobody

[2017-11-11 16:59] #43 closed, assigned to nobody

[2017-11-12 21:23] stefaniehoechtl opened #109 "Installation of FS20 fails using Microsoft Edge?"
Joe’s laptop (Microsoft Windows 10 Home, Acer Aspire E5-772G, McAfee):
AsTeRICS Ergo opens in Microsoft Edge, installation of FS20 fails (tried several times), installation of FS20 works using Firefox.
Everything else works without problem.

[2017-11-12 21:25] stefaniehoechtl opened #110 "AsTeRICS Ergo cannot be opened???"
Testing with my dad’s laptop (Microsoft Windows Vista Home Premium; VAIO Sony Corporation VGN-FW21M; Avira):
Installation of AsTeRICS Ergo (not) successful? (icon is on Desktop) – opening AsTeRICS Ergo is not possible (error message: “AsTeRICS Ergo.exe – Komponente nicht gefunden Die Anwendung konnte nicht gestartet warden, weil api-ms-win-crt-runtime-l1-1-0.dll nicht gefunden wurde. Neuinstallati

[2017-11-12 21:28] stefaniehoechtl opened #111 "Error on installation of IrTrans"
Testing with my mum’s laptop (Windows 10 Home, Medion Akoya E7422 MD99920, Avira):

When trying to install the IrTrans, the following error message pops up: “Microsoft .NET Framework 2.0 Service Pack 2 (x64) could not be installed. Please use Windows Update to manually install this update on your system. IRTrans Software Setup cannot continue”.

Installation and setting up the control of FS20 devi

[2017-11-13 08:36] deinhofer commented on #107
@case (2):
Are you talking about ARE.exe and start.bat, start_debug.bat?
They all require a normal Java installation on the system. The embedded Java of the native installer is not usable in this case.

But I don't know why the ARE.exe did not work.

[2017-11-13 08:43] deinhofer commented on #107
@case (2):
.exe: Probably we have to install the microsoft redistributable: http://www.giga.de/unternehmen/adobe/tipps/loesung-api-ms-win-crt-runtime-l1-1-0.dll-is-missing-fehler/

but I am wondering if this was ever necessary before. Are we talking about
AsTeRICS Ergo.exe also?

[2017-11-13 09:33] klues opened #112 "AsTeRICS-Ergo.exe does not work on Win 8.1 - error of missing .dll (Installer Problem)"
I've tried to install AsTeRICS-Ergo 3.3 and 4.0 on a Windows 8 Virtual Machine - both did not work :'(
* at starting with AsTeRICS-Ergo.exe: http://prntscr.com/h8qd1c
* at starting with start.bat: http://prntscr.com/h8qbiw

After installing JDK on the virtual machine, the .bat works, the .exe not.

[2017-11-13 09:33] klues commented on #107
moved case 2 to https://github.com/asterics/AsTeRICS-Ergo/issues/112

so this issue is just about the empty browser after starting asterics-ergo (see: http://prntscr.com/h8pc44)

[2017-11-13 09:38] klues commented on #112
The error message at starting AsTeRICS-Ergo.exe is:
`api-ms-win-crt-utility-l1-1-0.dll is missing`
although this file is present in `AsTeRICS-Ergo/runtime/bin`

[2017-11-13 10:07] klues commented on #112
the last version where the AsTeRICS-Ergo.exe **works is 3.2.3**.
On 3.3.0 and 4.0.0-alpha the error-message regarding the missing .dll appears. Also tested this on Win8 Tablet -> the same.

[2017-11-13 10:23] klues commented on #112
comparing 3.2.3 with 3.3.0 on AsTeRICS-Ergo repo:
https://github.com/asterics/AsTeRICS-Ergo/compare/v3.2.3...v3.3.0

comparing 3.2.3 with 3.3.0 on AsTeRICS repo:
https://github.com/asterics/AsTeRICS/compare/29e049a172d3d5c02407ab7fdb74ec9bb49ede1d...456859a8cbc2056bac6c6232f60327f30dff55b5

[2017-11-13 10:45] klues commented on #112
"good" news:
I rebuilt AsTeRICS-Ergo 3.2.3 with tags/v3.2.3 and commit https://github.com/klues/AsTeRICS/commit/f877ab93d39394ba9856159de3d87e07dbdf2e7d in my AsTeRICS-Ergo fork (should be the right version for 3.2.3) and I got the same dll-error.

so the problem is not in the code, but somehow in my installer-creation-suite. maybe different JDK, maybe different wix-toolset?!

[2017-11-13 14:59] deinhofer commented on #20
Maybe we should consider this regarding the "Untrusted application" message on Window 10:
https://social.technet.microsoft.com/wiki/contents/articles/32288.windows-enforcement-of-sha1-certificates.aspx
and also see InnoSetup release notes 5.5.8:
http://www.jrsoftware.org/files/is5-whatsnew.htm

[2017-11-13 15:16] klues commented on #112
installers created on the computer of @deinhofer work on the Win8 virtual machine.
Program versions installed on his computer:
* Java: 1.8.0_131
* InnoSetup: 5.5.4
* Visual C Redistributable: 2008, 2010, 2012, 2013, 2015

so first "fix": @deinhofer creates installers. I'll try to install the same versions like above and check if installer creation then also works on my PC.

[2017-11-13 15:22] deinhofer commented on #110
This is probably a duplicate of https://github.com/asterics/AsTeRICS-Ergo/issues/112

So closing this one.

[2017-11-13 15:22] #110 closed, assigned to nobody

[2017-11-13 15:23] klues commented on #108
@stefaniehoechtl questions:
* in the state, where FS20 is not working - is the red light on FS20 pc sender shining or dark?
* did you do the FS20 patch on first installation?

[2017-11-13 15:27] klues opened #113 "error controlling the environment using the smartphone"
Test setup:
AsTeRICS-Ergo v4.0.0-alpha
(Windows 10 Home, Medion Akoya E7422 MD99920, Avira)

Problem:
Controlling the environment via smartphone fails (error message on smartphone: the website is not accessible)

[2017-11-13 15:30] klues commented on #111
ok, the FS20 problem should be the same as in https://github.com/asterics/AsTeRICS-Ergo/issues/108
moved the smartphone problem to own issue: https://github.com/asterics/AsTeRICS-Ergo/issues/113

regarding the Installation of IrTrans software:
I also had this issue one time.
Try to download .NET framework from here: https://www.microsoft.com/de-DE/download/details.aspx?id=48130 and check if instal

[2017-11-13 15:35] klues commented on #113
@stefaniehoechtl question:
did you get any firewall-popups on first time of starting AsTeRICS-Ergo on this computer.

Please also try to go to:
1.  Start Menu -> type "firewall"
2. Open "Windows-Firewall mit erweiterter Sicherheit"
3. go to "eingehende Regeln" http://prntscr.com/h9xa2v
4. do you find rules named "asterics ergo.exe"? if yes are they activated? http://prntscr.com/h9xay7
5. do you fi

[2017-11-13 15:38] deinhofer commented on #112
Please try it with the [4.4.0-alpha2 version](https://github.com/asterics/AsTeRICS-Ergo/releases/tag/v4.0.0-alpha2)

[2017-11-13 15:39] klues commented on #110
yes, looks like the same...

@stefaniehoechtl please re-try it with https://github.com/asterics/AsTeRICS-Ergo/releases/tag/v4.0.0-alpha2

[2017-11-13 15:41] klues commented on #20
i'll reopen this in order to try out @deinhofer 's new comment. but I'll assign this issue a lower priorty.

[2017-11-13 16:15] klues commented on #103
feedback from @deinhofer:
* move "introduction info" (project, ...) to bottom of page under "further information"
* Only say that Asterics-Ergo is for environmental control, not for computer control.
* list some possibilites of devices that can be controlled
* link to FAQs and Hardware Assistant under own "help" title
* maybe add "static" versions of FAQs and Hardware-Assistant that do not show Ba

[2017-11-13 18:18] klues commented on #112
uploaded a second release (4.0.0-alpha2) built with my private pc:
* JDK: 1.8.0_121
* InnoSetup: 5.5.9
* Visual C Redistributable: 2005, 2008, 2010, 2012, 2013, 2017
* .NET Framework: 4.5.1, 4.6, 4.6.1

[2017-11-14 13:38] klues commented on #112
@ dll problem:
tried to:
* use same JDK as @deinhofer
* use same InnoSetup-version
* install all/different version of Visual C++ Redistributable

but nothing fixed the issue - still the missing dll-problem on Windows 8.
However, I'll set lower priority to this issue now, because we have the workaround to build releases on the laptop of @deinhofer

[2017-11-14 13:41] klues commented on #107
A possible reason for the empty browser page is that building of the release was faulty because of no clean on asterics-repository.
So @deinhofer added a clean to all ant-deploy target with https://github.com/asterics/AsTeRICS/commit/71afc3b63953557dfd5e3c03433c8cabf75eb201 (and other commits on the same day)
this should solve the issue for further releases.

[2017-11-14 13:41] #107 closed, assigned to nobody

[2017-11-14 13:45] klues opened #114 "Installer Improvement: Check if AsTeRICS-Ergo is installed and uninstall before new install"
Currently the AsTeRICS-Ergo installer does not check if a previous version of AsTeRICS-Ergo is already installed. However this should be done and the previous version should be uninstalled before installing a new one.

Not uninstalling/deleting old files can lead to errors like in https://github.com/asterics/AsTeRICS-Ergo/issues/107

[2017-11-14 15:12] klues commented on #114
fixed with https://github.com/asterics/AsTeRICS-Ergo/commit/f8f28fcaf95e21c7c796c689067a68c9974be644

[2017-11-14 15:12] #114 closed, assigned to nobody

[2017-11-14 15:19] klues commented on #114
@deinhofer can you please build a new release with AsTeRICS-Ergo master and AsTeRICS Tag `asterics-ergo/v4.0.0-alpha3` (already created) including this improved installer?

[2017-11-14 15:32] klues commented on #113
just added a new line in the firewall-skript to also disable rules generated by win8:
https://github.com/asterics/AsTeRICS-Ergo/commit/47811bd16008f3690529eacecd30553615f969f3
so with the next release this maybe fixes the problem.

[2017-11-14 15:40] klues commented on #111
i had this issue also on my windows 8 virtual machine.
try to download and install:
https://www.microsoft.com/de-at/download/details.aspx?id=21
in my case it helped.
the link in my previous comment is wrong.

[2017-11-14 16:54] deinhofer commented on #109
I think at this stage we should set this to a lower priority, let's focus on firefox and chrome for now.

[2017-11-15 06:30] stefaniehoechtl commented on #109
Ok, but then we should recommend using Firefox and Chrome. I can add a FAQ.

[2017-11-15 06:54] stefaniehoechtl commented on #108
There were no problems on first installation
The light on the FS20 PC sender was not shining
I reinstalled the FS20 today – now the control of FS20 devices work without any problems after restarting the computer – I think that is strange.

I am gonna try the latest release on another laptop today, where I had the same problem.

[2017-11-15 07:47] stefaniehoechtl commented on #108
I still have the problem on the other laptop (Windows 10 Home, Medion Akoya E7422 MD99920, Avira, Firefox). This time I tested with AsTeRICS Ergo v4.0.0-alpha3.
After restarting the computer (or after standby-mode), the light in the FS20 pc sender is not shining. After unplugging the FS20 and reconnecting it to the computer, the light is shining again and the control of the FS20 devices works.

[2017-11-15 07:53] stefaniehoechtl commented on #111
Today I tested with AsTeRICS Ergo v4.0.0-alpha3
I had the same error message, so I installed Microsoft .NET Framework 3.5 - now the control of the IrTrans devices works without problem (also after restarting the computer)! :)
So I guess the only solution is adding a FAQ.

[2017-11-15 07:53] klues commented on #108
So you did not do the registry patch?
I sometimes had the case, that the red light keeps shining, if AsTeRICS-Ergo is started (so you think that you do not need the patch), but if AsTeRICS-Ergo is not started, the light turns off after a while. So that could be the case also at your problem:
1) on first installation the red light keeps shining -> you do not apply the patch
2) after restarting PC A

[2017-11-15 07:57] stefaniehoechtl commented on #113
Test setup:
AsTeRICS-Ergo v4.0.0-alpha3
(Windows 10 Home, Medion Akoya E7422 MD99920, Avira)

Now controlling the environment via Smartphone works :)

[2017-11-15 08:02] stefaniehoechtl commented on #108
In both cases I did not need to do the registry patch when installing the FS20 for the first time, because the light was still shining after 10 sec.
So yes that could be the problem.

[2017-11-15 08:08] klues commented on #111
we could also include the installer for .NET Framework 3.5 in the AsTeRICS-Ergo installer, so that it is automatically installed. but I do not know if we want that?!

[2017-11-15 08:09] klues commented on #113
yeah :)
so I think we can close this issue.

[2017-11-15 08:17] klues commented on #108
I think the best solution would be:
* run the patch everytime on installation wizard, do not ask the user if light is shining or not. this would be a more user-friendly way, the user would not have to wait and check.
* The patch-method detects if the patch is actually needed, so the user would only get the UAC-message if it is really needed.

an alternative would be:
maybe it also helps if we chan

[2017-11-15 08:19] klues commented on #109
how did it fail in Edge?

[2017-11-15 08:22] stefaniehoechtl commented on #108
I just tried something:
Installation FS20 - the light was still shining after 10 sec, but I selected "Lamp is not lit" - "Fix problem". The test afterwards failed, so I had to install the FS20 another time, but now I can control all devices after restarting the computer.
Maybe that helps you a little...

[2017-11-15 08:28] stefaniehoechtl commented on #109
Lamp was not shining after 10 sec ---> I selected "Fix problem" --> "Yes" - but the Test failed
Then I chose another USB-Port – the lamp was shining after 10 sec, but the Test failed
I closed AsTeRICS Ergo and tried again with the second USB-Port - light was shining, but Test failed
I tried a third USB-Port - the light was not shining - I selected "Fix problem", but nothing happened

In Firefox it

[2017-11-15 09:15] stefaniehoechtl commented on #112
I also had the problem of the missing .dll (AsTeRICS Ergo 4.0.0-alpha), testing with v4.0.0-alpha3 the installation of AsTeRICS Ergo was successful. (Microsoft Windows Vista Home Premium, VAIO Sony Corporation VGN-FW21M)

[2017-11-15 09:28] klues commented on #108
yes, its exactly what i thought. I'll change the assistant so that the patch is activated every time. i already spoke with @deinhofer and we think thats the best solution.
I'll upload a new release after changing that - so until then you do not have to test further FS20-things ;)

[2017-11-15 09:29] klues commented on #112
yeah, good that it works now with alpha3 :)

[2017-11-15 09:32] klues commented on #109
hmm, strange... maybe try it again, when i did the changes I proposed in https://github.com/asterics/AsTeRICS-Ergo/issues/108#issuecomment-344535165 - lets see if the error then still exists.

[2017-11-15 09:40] deinhofer commented on #108
**go ahead with the solution: always try to patch the system if the registry key is not found!**

an idea for later:
execute the patch during postinstall similar to the firewall patch. But we would have to test if this also works if no FS20 device is plugged in.

[2017-11-15 15:07] klues commented on #108
changed fs20 assistant with https://github.com/asterics/AsTeRICS-Ergo/pull/116

@deinhofer could you please build and publish a new release with AsTeRICS-Ergo master and AsTeRICS tag `asterics-ergo/v4.0.0-alpha4`?

[2017-11-15 16:47] klues commented on #108
@stefaniehoechtl you can now try if the FS20-error is resolved with https://github.com/asterics/AsTeRICS-Ergo/releases/tag/v4.0.0-alpha4

[2017-11-15 16:47] klues commented on #109
@stefaniehoechtl maybe this is also resolved with https://github.com/asterics/AsTeRICS-Ergo/releases/tag/v4.0.0-alpha4 ?!

[2017-11-15 16:48] klues commented on #111
@deinhofer what do you think we should do here? FAQ or embed the .NET-Framework installer in AsTeRICS-Ergo installer?

[2017-11-16 19:17] deinhofer commented on #111
I'd prefer to create an FAQ entry and alos mention it as possible intermediate step at the installation process for IrTrans.

I don't want to embed .NET if it is just needed for some very rare cases.

[2017-11-17 10:06] klues commented on #103
improved info-page with: https://github.com/asterics/AsTeRICS-Ergo/pull/117

changes:
* changed text & structure according to feedback of @deinhofer
* links to help are now to a different "mode" of asterics ergo, so that no "back" button is shown and a click on the "AsTeRICS Ergo" header links back to the info page -> better integration of FAQ and hardware assistant
* download link is automaticall

[2017-11-17 10:12] klues commented on #111
ok, yes, then lets add a FAQ, I'll do it.

[2017-11-17 11:08] klues commented on #111
added FAQ with https://github.com/asterics/AsTeRICS-Ergo/commit/805b1c9f5394a5d661f04070bf2f299bebe7304e

see result
* FAQ: https://asterics.github.io/AsTeRICS-Ergo/mock.html#!/home/envcontrol/help/faq/42
* Hint in install wizard (point 3): https://asterics.github.io/AsTeRICS-Ergo/mock.html#!/home/envcontrol/help/install/irtrans?mockIrConnected=false

so I think we can close this?

[2017-11-17 15:54] klues commented on #92
did this with https://github.com/asterics/AsTeRICS-Ergo/pull/118
AsTeRICS-Ergo is now in the path `webapps/envcontrol/static`, data is saved to `webapps/envcontrol/data`

[2017-11-17 15:54] #92 closed, assigned to klues

[2017-11-18 10:33] stefaniehoechtl commented on #108
I tested AsTeRICS Ergo v4.0.0-alpha5 on 5 laptops, the control of the FS20 devices always worked after restarting the laptop.

[2017-11-18 10:35] stefaniehoechtl commented on #109
I tested AsTeRICS Ergo v4.0.0-alpha5 on 2 laptops using Microsoft Edge: Installation of FS20 without problems

[2017-11-18 10:38] stefaniehoechtl commented on #113
I tested AsTeRICS Ergo v4.0.0-alpha5 on 5 laptops & 1 PC.
I was not able to control the environment via smartphone in any of my tests. There is always the following message on the smartphone: “Not Found - Resource identified by path ‘/’, does not exist.”

(& The address to control the environment via smartphone is not shown using Microsoft Edge & Internet Explorer.)

[2017-11-18 10:43] stefaniehoechtl opened #120 "FAQs: add autoscroll"
When clicking on a FAQ, you sometimes cannot see the answer, that is a bit confusing --> add autoscroll

[2017-11-18 10:45] stefaniehoechtl opened #121 "IrTrans Installation Wizard: add autoscroll"
IrTrans Installation Wizard: When clicking on “Test”, you always need to scroll down to see whether the test was successful, that is a bit confusing --> add autoscroll

[2017-11-18 10:58] stefaniehoechtl opened #122 "Difficulties installing & controlling devices using IrTrans"
AsTeRICS Ergo v4.0.0-alpha5
Microsoft Windows Vista Home Premium, VAIO Sony Corporation VGN-FW21M
I had difficulties with the installation of the IrTrans. When clicking on “Test”, the Test failed several times and I do not know why. Once I waited several minutes after opening “IRTransServer USB” and selected “Test” later – then the installation was successful. Afterwards I was able to set up the c

[2017-11-18 15:30] ChrisVeigl commented on #108
is the suggested procedure now to restart the laptop after installation ?
BTW: at our presentation in Dortmund, the FS20 light went out (after dozens of times where it stayed on...) no idea why. however, the problem could be fixed using the "repair" button in the AsTeRICS Ergo Gui.

[2017-11-18 15:33] ChrisVeigl commented on #122
can you reproduce that problem (does it occur in the same way when do remove the IRTrans software) ?

[2017-11-18 16:10] stefaniehoechtl commented on #108
No, I do not think it is necessary to restart the laptop after installation.
During testing, I just always tried whether the control still worked after restarting the computer, because we often had the problem that the control of the FS20 devices worked at first, but after restarting the computer, it did not work anymore. But that problem seems to be fixed now.
On the other hand it does not do any

[2017-11-18 16:19] stefaniehoechtl commented on #122
Maybe I can get access to that laptop tomorrow and try again. I tested with 4 other laptops and never had that problem.

[2017-11-19 17:36] stefaniehoechtl commented on #122
I tested again today. After opening "IRTransServer USB", I selected "Test", but the test failed. I selectet "Test" several times and after 1-2 min testing was successful. I guess we should just tell the users to be patient?
On some laptops, it also takes quite a long time after selecting the IrTrans setup file until a window pops up. Maybe we should tell them there as well that in some cases it ju

[2017-11-20 08:14] klues commented on #108
I also encountered this behaviour that the light stays on most of the time if AsTeRICS-Ergo is started, but not in every case. I think it is somehow related to the implementation of the FS20 code, where some reference to the device is used and therefore the operating system thinks that the device is needed and does not send it into power-save mode... but I also do not fully understand it.

thats t

[2017-11-20 08:24] klues commented on #113
oh, after changing the paths with https://github.com/asterics/AsTeRICS-Ergo/issues/92 i forgot to change the links for the smartphone-FAQ. good that you tested it, I'll fix it today.

[2017-11-20 08:25] klues commented on #109
ok, cool! :)
then lets close this issue.

[2017-11-20 08:25] #109 closed, assigned to nobody

[2017-11-20 08:26] klues commented on #108
ok, then this issue should be resolved - lets close it.

[2017-11-20 08:26] #108 closed, assigned to nobody

[2017-11-20 08:40] deinhofer commented on #111
looks good

[2017-11-20 08:48] klues commented on #122
ok, then it sounds like that it is just a slow computer that needs time to start IrTrans-USB-Server ;)
yes, I'll add a note, that the users should be patient ;)

[2017-11-20 08:52] klues commented on #111
ok, then i'll close the issue.

[2017-11-20 08:52] #111 closed, assigned to nobody

[2017-11-20 10:42] klues commented on #120
tried something in https://github.com/asterics/AsTeRICS-Ergo/tree/bklaus/issue%23120/add-autoscroll-faq but it does not work perfectly, I still have to improve it...

[2017-11-20 10:57] klues commented on #113
fixed with https://github.com/asterics/AsTeRICS-Ergo/commit/eeabf75b339e18a396050d5e7300c6c7b0826d19

yes, in these browsers unfortunately it is currently not possible to get the needed IP address...

[2017-11-20 12:55] deinhofer commented on #103
todo:
* add impressum link (to asterics-academy) in footer
* footer: AsTeRICS Ergo, mailto:asterics-foundation, Impressum (link to asterics academy foundation)

[2017-11-20 15:05] klues commented on #122
added hints with https://github.com/asterics/AsTeRICS-Ergo/commit/e2d1402f290e56df5961be01c39d6c79029adefd

-> closed

[2017-11-20 15:05] #122 closed, assigned to nobody

[2017-11-20 15:07] klues commented on #121
strange: the error only happened in firefox and edge, but autoscroll worked on all other places (where it works in the same way).

however: fixed with https://github.com/asterics/AsTeRICS-Ergo/commit/e2d1402f290e56df5961be01c39d6c79029adefd

[2017-11-20 15:07] #121 closed, assigned to nobody

[2017-11-20 15:27] klues commented on #103
did TODOs with https://github.com/asterics/AsTeRICS-Ergo/commit/97aac7ffaea22da5d3bb7a0441025a42ffa91831

see it here:
https://asterics.github.io/AsTeRICS-Ergo/info/index.html

so I'll close this issue.

[2017-11-20 15:27] #103 closed, assigned to nobody

[2017-11-21 09:07] klues commented on #83
already fixed with https://github.com/asterics/AsTeRICS-Ergo/commit/f8f28fcaf95e21c7c796c689067a68c9974be644#diff-6bafd68df53965e91c5ff987758249a0

[2017-11-21 09:07] #83 closed, assigned to nobody

[2017-11-21 15:12] klues commented on #113
is fixed with https://github.com/asterics/AsTeRICS-Ergo/releases/tag/v4.0.0-alpha6

[2017-11-21 15:12] #113 closed, assigned to nobody

[2017-11-23 10:15] klues commented on #99
done: http://www.asterics-academy.net/tools/asterics-ergo

[2017-11-23 10:15] #99 closed, assigned to deinhofer

[2017-11-24 07:56] klues opened #123 "Add FAQ that shows a table/matrix of tested and recommended devices"
For some devices like robot vacuum cleaners, ambient light (IR light bulbs), blinds or radios it is maybe not clear for users which devices they can use, which can be controlled by IR and which are already tested and approved by the AsTeRICS team.

So the idea is to add a FAQ (or maybe also a section on the info page) which shows e.g.:
1) Category of device
2) Name of Device (+ Link to a shop?!)
3

[2017-11-24 08:02] klues commented on #112
issue is fixed for production, which means that it is not a problem for the releases right now - we just build the release on one of the Laptops where it works (my private laptop and the laptop of @deinhofer).

however the issue is **still open,** because I want to find out the **reason, why installer creation does not work on some systems/on my work laptop?!**

[2017-11-24 08:18] klues opened #124 "Different design for action buttons and folder buttons"
Currently all buttons have the same design. This sometimes can be confusing, e.g. it is maybe not clear on first sight if the user is on the "add page", where he/she can select a new device to add or on the "control page" where he/she sees the already configured devices to control.

so the idea is:
* action buttons should have an own design (other color?!). it would also be nice to somehow show th

[2017-11-27 10:51] klues opened #125 "Installation - go back to right place after Hardware installation"
If I go:
* New Device -> Tablelamp -> FS20 not installed -> Install FS20 -> Installation successful

It would be better if I get a Link provided "To Tablelamp Installation" instead of just a general link to "new Device". See Link in http://prntscr.com/hft4if

However if I go to "Help -> Installation of Hardware -> FS20" the link should remain as it is to "new Device".

[2017-11-29 14:19] klues opened #126 "WebDocumentRoot is root ("/") on raspberry pi"
When starting AsTeRICS-Ergo on raspberry pi (raspbian pixel) the web document root is "/" (root), which should not be the case.

[2017-11-29 14:19] klues commented on #126
fixed with https://github.com/asterics/AsTeRICS/commit/38b66d5ee8d35c3cd63e9b9f5295a0028b1b7b19#diff-5527236622e0d0afd96c9635f8a67fc1

[2017-11-29 14:19] #126 closed, assigned to nobody

[2017-11-30 10:58] klues opened #127 "create .deb package of AsTeRICS Ergo for Linux x86 and ARM (raspberry pi)"

[2017-12-04 16:20] klues commented on #127
done, .deb package is now available here: https://github.com/asterics/AsTeRICS-Ergo/releases/tag/v4.0.0

[2017-12-04 16:20] #127 closed, assigned to nobody

[2017-12-07 10:29] ChrisVeigl opened #128 "Problem with IRTrans udev rule"
When testing AsTeRICS Ergo in a VirtualBox with Ubuntu 17.10,
the IRTrans setup did not work correctly (the udev rule for the IRTrans COM Port was created with wrong Vender / Product IDs for the USB device).

After changing the udev rule manually to vendor:0403 / product: fc60 the COM Port was found.
Maybe the reason was that the IDs are not the same for every IRTrans device ?

(maybe it would als

[2017-12-11 10:55] klues opened #129 "Use platform independent ApplicationLauncher plugin"
With https://github.com/asterics/AsTeRICS/issues/209 the applicationLauncher plugin should become platform independent.

The new platform independent ApplicationLauncher should be used in the AsTeRICS Ergo autostart.acs model.

[2017-12-11 13:02] klues commented on #128
should be fixed with asterics-ergo-4.0.1.deb from https://github.com/asterics/AsTeRICS-Ergo/releases/tag/v4.0.0

[2017-12-11 13:02] #128 closed, assigned to nobody

[2017-12-21 13:23] klues opened #130 "Add possibility to set up IR control with Flipmouse"
The current flipmouse has a built in possibility to learn IR commands. By serial interface the following commands are possible:
* **AT IR <commandname>** ... learns a command and saves it by name <commandname>
* **AT IP <commandname>** ... plays a learned command by name
* **AT IC <commandname>** ... deletes a learned command by name

Goal of this issue is to implement AsTeRICS Ergo so that:
* it

[2017-12-21 15:08] klues commented on #130
development in branches: https://github.com/asterics/AsTeRICS-Ergo/tree/bklaus/issue%23130/add-flipmouse-support and https://github.com/asterics/AsTeRICS/tree/bklaus/issue%23130/add-flipmouse-support-to-asterics-ergo

[2017-12-22 12:29] klues commented on #87
current development version here:
https://github.com/asterics/AsTeRICS-Ergo/tree/bklaus/issue%2387/user-mode-limited-buttons

[2017-12-27 11:56] klues opened #131 "Make IrTrans installation easier"
According to user evaluations done by @stefaniehoechtl the biggest challenge for users on using AsTeRICS Ergo is the installation of IrTrans. Therefore it would be great to make this process easier.

I've compiled the IrTrans Server for Windows, see https://github.com/asterics/IRTrans-Server/releases/tag/1.0.1
Additionally there is there is this folder from the installed version of IrTrans, which

[2017-12-28 13:06] klues commented on #87
done with https://github.com/asterics/AsTeRICS-Ergo/pull/132
and https://github.com/asterics/AsTeRICS/commit/1271987e0fa7761f8f21bca5412b932eed49dc36

remaining issue: simple mode does not work on github.io in mock mode, because the requests are made to an running ARE-instance which is not existing... but I do not think this is so important, so I'll close this.

[2017-12-28 13:06] #87 closed, assigned to klues

[2017-12-28 16:09] klues commented on #87
additionally changed styles of action-buttons and subfolder-buttons with commit https://github.com/asterics/AsTeRICS-Ergo/commit/336b8cb46fbde3e015e3085144629e94560a0ae5 and previous.
see: http://prntscr.com/htf0i7
folder-buttons are now yellow with a folder-symbol. action buttons are blue and show an animation on clicking it.

[2017-12-29 08:14] klues commented on #87
one additional improvement with https://github.com/asterics/AsTeRICS-Ergo/commit/13f406c14facc0e2aeefe70de1a96f8cb7ac68b1
now showing focus with red border on all elements, simple mode now looks like this:
https://prnt.sc/htp970

[2018-01-02 14:15] klues commented on #124
partly done with https://github.com/asterics/AsTeRICS-Ergo/issues/87

not done:
show status of sending command in button

[2018-01-31 15:04] klues commented on #130
done with
https://github.com/asterics/AsTeRICS-Ergo/pull/133
and
https://github.com/asterics/AsTeRICS/pull/225

in addition to FlipMouse support many refactorings were done and the whole app is now much more generic, e.g.:
* new install/hardware info help can be added by just adding <hardwareId>.html files and without much javascript
* coupling between devices (e.g. TV, lamp, ...) and needed hardw

[2018-01-31 15:04] #130 closed, assigned to klues

[2018-01-31 15:19] klues commented on #130
also see release https://github.com/asterics/AsTeRICS-Ergo/releases/tag/v4.1.0-alpha2

[2018-02-28 10:05] klues opened #134 "Add speech control to AsTeRICS Ergo"
It would be nice if AsTeRICS Ergo could be controlled by speech commands.

[2018-02-28 10:09] klues commented on #134
Added experimental speech control with annyang, see https://github.com/TalAter/annyang
see https://github.com/asterics/AsTeRICS-Ergo/commit/3c89172c53d8f0d99bc0b33ce5fa5c3dc3055b50 on branch https://github.com/asterics/AsTeRICS-Ergo/tree/bklaus/issue%23134/add-speech-control

[2018-03-13 16:21] klues opened #135 "Add Wizard and Infopage for "IR Plug" for controlling a plug"
**Problem**
currently the Wizard for `new device -> Table-/Floor-Lamp` also shows the possibility to control a table-/floor-lamp via IrTrans + Ir Plug, however:
* there is no info page for a "Ir Plug"
* there is no installation wizard for setting up a device by "Ir Plug" + IrTrans

**Solution:**
1. add info/help page for "Ir Plug"
2. add installation wizard for setting up a device by "Ir Plug" + I

[2018-03-16 14:31] klues commented on #135
done with https://github.com/asterics/AsTeRICS-Ergo/pull/136

[2018-03-16 14:31] #135 closed, assigned to nobody

[2018-03-19 12:33] klues opened #137 "Possibility to change used hardware by user"
With the possibility to set up a control for a given device with different hardware alternatives (see e.g. https://github.com/asterics/AsTeRICS-Ergo/issues/135 or https://github.com/asterics/AsTeRICS-Ergo/issues/130), a new problem arises:

**Problem**
In some cases it is no longer possible to automatically decide which hardware the user wants to use. E.g. controlling a "tablelamp" can now be real

[2018-03-19 12:39] klues opened #138 "AsTeRICS Ergo does not work in Internet Explorer"
AsTeRICS Ergo does not work in Internet Explorer (due to missing websocket support).

We should add a message that points out this issue and does redirect to download pages for Firefox/Chrome. This message was already existing in previous versions but was removed on issue https://github.com/asterics/AsTeRICS-Ergo/issues/1 - so maybe search for the commits and re-add it for internet explorer (not f

[2018-03-19 12:42] klues opened #139 "Save speed of Scanning"
**Problem**
in the "Simple mode" there is the possibility to start  scanning for users with a one switch interface. Its possible to set the scanning speed by a range input, however this setting is not saved.

**Solution**
Save setting for scanning speed and re-apply it if AsTeRICS Ergo starts again. In addition it should be saved if scanning is on or off, so that it starts again automatically on r

[2018-03-20 15:47] klues commented on #131
with @benjaminaigner we tried to reverse engineer the serial protocol the IrTrans is using - with succes (at least for an Luminea infrared bulb) - see test file, which contains the HEX codes we sent to IrTrans using a serial console (baud 115200):
[IRTrans_bytestream_WORKING.txt](https://github.com/asterics/AsTeRICS-Ergo/files/1830070/IRTrans_bytestream_WORKING.txt)

However I did not manage to op

[2018-03-26 08:58] benjaminaigner commented on #131
I tried to use the same preceding sequence for the August IR controlled radio, does not work.

Bytestream (ASCII) of receiving a command has the same length & structure:
"S00000000111111110000000011111111320" of August radio vs:
"S00000000111101111100000000111111320" Luminea "On".

The sent prefix of the Luminea bulb is (HEX)

```506e0600ffff24260138024700d100200103140000000000005e0446004a005d044a

[2018-03-29 06:30] klues commented on #131
ok, thanks for your further tests!
I think the prefix is some kind of timing information for the command. For the Luminea (same remote control) it seems to be the same, but for another remote control not...
hmm, so this prefix is also received over the serial interface or it is not?

[2018-03-29 07:21] benjaminaigner commented on #131
Interestingly, the prefix is NOT sent on receiving.

It is also interesting, that the Luminea and August remotes use the same IR codes (one button sends a command for both devices) but they have a different prefix.

[2018-03-29 07:33] klues commented on #131
here on page 6 http://www.irtrans.de/download/Docs/IRTrans%20TCP%20ASCII%20Interface_EN.pdf
you can see how to learn a command using the ascii interface of irtrans server.

the result there is much longer than the codes we got at our tests, e.g.:
`3A00000000000E24040000000000000000000000000000000000000000000000
0000000000000000000002573131303030303030303031313031 `
I guess that this code somehow a

[2018-03-29 08:32] klues commented on #131
this is the learned longer command for Luminea ON:
`5001000000002426010238004E00D80120140B000000000000045D003F0043045C0042000000000000050100533030303030303030313131313031313131313030303030303030313131313131333230`

[2018-05-09 12:41] klues opened #141 "Refactoring: Cleanup dependencies around envControlDataService"
With commit https://github.com/asterics/AsTeRICS-Ergo/commit/1ce80fa112833bc68c6d303b670ef838b9b538ff I implemented a callback system in order to be able to:
1. automatically get data (also on updates) from `envControlDataService` to module `hardwareIrTrans`
2. be able to update data from `hardwareIrTrans` to `envControlDataService` which eventually saves the data to file via `ARE`.

So in the end

[2018-05-09 14:15] klues opened #142 "IrTrans installation on Linux: prettier interface"
With https://github.com/asterics/AsTeRICS-Ergo/issues/131 a autostart of `irserver` was implemented, so `irserver` is started everytime a irTrans command is sent and there is no connection to `irserver`.

While on Windows this autostart can be done in background, on Linux unfortunately it is necessary to run `irserver` with `root` priviledges and therefore there has to be some kind of password pro

[2018-05-14 10:26] klues commented on #131
included drivers for windows and `irserver.exe` with https://github.com/asterics/AsTeRICS-Ergo/pull/143
after merging of https://github.com/asterics/AsTeRICS/pull/247 a new release can be made and this issue can be closed.

[2018-05-14 11:04] klues opened #144 "FLipMouse does not work on Linux"
Tried with AsTeRICS Ergo 4.1.0 and 4.2.0

FLipMouse support does not work because of this error:
[code]

I think I once tested CimPortScanning with @benjaminaigner on Linux and I think it worked then. I don't know why now there is this `NoClassDefFoundError`. @deinhofer: do you have an idea?

[2018-05-15 08:37] klues commented on #142
maybe it is not necessary to have several `ApplicationLauncher` instances for different Linux versions with different terminals (like now) but it is possible to just start `bash` directly with application launcher like
`bash /opt/asterics-ergo/app/start.sh`

[2018-05-15 10:10] #131 closed, assigned to nobody

[2018-05-15 13:08] klues commented on #138
in reality it did not work due to missing ES6 support. Removed ES6 method calls with https://github.com/asterics/AsTeRICS-Ergo/commit/341ee4fb475cfc1625e7a79332fcba8fc700dcf0 therefore Internet explorer support should now work again.

[2018-05-15 13:08] #138 closed, assigned to nobody

[2018-05-15 14:14] klues opened #145 "FlipMouse driver installation on Win7 and Win8.1"
On windows 7 and Windows 8.1 FlipMouse needs a driver for the serial interface. On windows 10 the serial interface of the FLipMouse works without driver installation.

In the installation assistant of FlipMouse currently there is no driver installation. For Windows 7 and 8.1 there should be an additional step "install driver". Currently it looks like this:
![screenshot_1](https://user-images.githu